---
Checks: '-*,
bugprone-*,
cert-*,
clang-analyzer-*,
concurrency-*,
cppcoreguidelines-*,
misc-*,
modernize-*,
performance-*,
google-build-namespaces,
google-default-arguments,
google-build-explicit-make-pair,
google-global-names-in-headers,
google-runtime-operator,
google-explicit-constructor,
google-build-using-namespace,
llvm-header-guard,
llvm-include-order,
llvm-namespace-comment,
portability-*,
-portability-restrict-system-includes,
readability-*,
-readability-suspicious-call-argument'